* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #251818;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.container {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

p {
  font-size: 1rem;
  color: white;
  letter-spacing: 0.5px;
}

img {
  border: 2px solid white;
  /* alt descripion color */
  color: grey;
}

input {
  border-radius: 5px;
  margin-top: 50px;
  width: 80px;
  padding: 10px 20px;
}

input:hover {
  border: none;
  cursor: pointer;
  background-color: #616c77;
}

img {
  width: 100%;
  height: 100%;
}
